<div class="container-xl pt-5">
<h1 class="mb-5">Stupid Coaching</h1>
<%= "Ask your coach anything:" %>
<h2 class="mb-3"></h1>


<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
